@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* =========================PERSONALIZAÇÃO BOOTSTRAP================================= */
:root{
    --color-primary: #f64a3c;
    --color-secondary: #f6ac3c;
    --color-dark: #0e0e0e;
    --color-light: #fff;
    --color-gray-light: #e2dfc6;
    --color-gray-dark: #444444;
    --shodow-dark: 1px 1px 8px rgba(0, 0, 0, .3);
    --shodow-dark-big: 5px 5px 8px rgba(0, 0, 0, .8);
}

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--color-dark);
}

.bg-primary, .bg-danger, .btn-danger{
    background-color: var(--color-primary) !important;
}

.bg-secondary{
    background-color: var(--color-secondary) !important;
}

.bg-dark{
    background-color: var(--color-dark) !important;
}

.text-dark{
    color: var(--color-dark) !important;
}

.text-primary{
    color: var(--color-primary) !important;
}

.btn{
    border: none;
    border-radius: 5px;
    transition: all .5S;
}

.btn-primary{
    background-color: var(--color-primary) !important;
}

.btn-danger:hover, .btn-primary:hover{
    background-color: var(--color-secondary) !important;
    color: var(--color-dark) !important;
}

.navbar-brand figure{
    margin-top: 15px;
    width: 180px;
}

.navbar-brand figure img{
    width: 100%;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


/* =====================CONFIGURAÇÕES PERSONALIZADAS============================= */

/* personalização barra de rolageem */
body::-webkit-scrollbar {
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: var(--color-dark);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-dark);
    border-radius: 20px;
    border: 3px solid var(--color-dark);
}
/* fim personalização barra de rolagem */

#pagina{
    padding-top: 80px;
}

#pagina .container{
    height: 100%;
}

#inicio{
    height: calc(100vh - 80px);
    background-color: #000;
    background-image: url('../images/background_home2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#inicio h1{
    max-width: 800px;
    font-size: 40pt;
}

#inicio a.btn{
    padding: 20px 35px;
    letter-spacing: .08em;
    margin-top: 15px;
    animation-name: piscar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-transform: uppercase;
}

@keyframes piscar {
    from {
      box-shadow: 0 0 15px var(--color-primary);
    }
  
    to {
        box-shadow: none;
    }
}

#cardapio{
    background-color: var(--color-gray-light);
    background-image: url('../images/papel.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

.padding-vertical-grande{
    padding-top: 100px;
    padding-bottom: 100px;
}

section .titulo{
    margin-bottom: 80px;
    text-transform: uppercase;
}

.card{
    position: relative;
}

.card .valor{
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #f64a3c;
    padding: 5px;
    border-radius: 20px 0 20px 0;
    color: var(--color-light);
    font-weight: bolder;
    box-shadow: var(--shodow-dark-big);
}

.card .valor .inteiro{
    font-size: 25pt;
}

.card .valor .centavos{
    font-size: 10pt;
}

.card-img-top{
    height: 180px;
    background-color: var(--color-dark);
}

.card-img-top figure, .card-cardapio figure img{
    height: 150px;
    transition: all .3s;
}

.card-cardapio{
    border: none;
}

.card-cardapio:hover{
    cursor: pointer;
    box-shadow: var(--shodow-dark);
}

.card-cardapio:hover img, .card-cardapio:hover figure{
    height: 180px;
}

#contato{
    background-color: #f64a3c;
    background-image: url('../images/background_hamburgueria.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#contato .form-control{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .3);
    color: var(--color-dark);
}

.form-control:focus,
.form-control:active{
    outline: none;
    box-shadow: none;
}

#bebidas{
    position: relative;
    display: flex;
}

.link-menu{
    color: rgba(255,255,255,.55);
    text-decoration: none;
}

.link-menu:hover{
    color: rgba(255,255,255,.75);
}

#bebidas{
    background: rgb(14,14,14);
    background: linear-gradient(45deg, var(--color-primary) 50%, var(--color-secondary) 50%);
}

#bebidas .card{
    width: 18rem;
}

#oferta .titulo h2{
    font-family: 'Permanent Marker', cursive;
    letter-spacing: .7pt;
    font-size: 45pt;
    text-shadow: 4px 4px 0 var(--color-secondary);
}

#oferta .info .info-valor{
    background-color: var(--color-primary);
    color: var(--color-light);
    font-weight: bold;
    padding: 10px;
    border-radius: 30px 0 30px 0;
    text-align: center;
    margin-bottom: 20px;
}

#oferta .info .info-valor .inteiro{
    font-size: 35pt;
}

footer{
    padding-top: 25px;
    padding-bottom: 25px;
}

footer .logo{
    width: 220px;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer .container a.social:hover span,
footer .container a.social:hover i{
    color: var(--color-secondary);
}

footer .logo figure, footer .logo img{
    width: 100%;
}

@media (max-width: 600px) {
    #oferta .corpo{
        flex-direction: column;
    }
}

/* =======================PÁGINA DE LOGIN E REGISTRAR=SE=========================== */
.bg-imagem{
    background-image: url('../images/background_home2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    height: 100vh;
}

#form-login{
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
}

#form-login .titulo-login{
    color: var(--color-light);
    background-color: var(--color-primary);
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 12px 0 3px 0;
}

#form-login .formulario{
    padding: 15px;
    box-sizing: border-box;
    margin: 25px 0;
}

#form-login #voltar-login{
    position: absolute;
    padding: 5px 15px;
    border-radius: 10px;
    top: -40px;
}


